<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center ion-padding">
    <ion-avatar class="profile-avatar">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <h2 class="ion-margin-top">{{ userName }}</h2>
    <p>{{ userEmail }}</p>
  </div>

  <ion-button expand="block" color="danger" (click)="logout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Sair
  </ion-button>
</ion-content>