<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agendar" href="/tabs/agendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meus-horarios" href="/tabs/meus-horarios">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Meus Horários</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>